<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시글</title>
</head>
<body>
<p>
  <span id="articleTitle">This is article page.</span>
</p>
<table id="articleTable">
  <tbody>
    <tr>
      <td>제목</td>
      <td><span id="title">?</span></td>
    </tr>
    <tr>
      <td>작성자</td>
      <td><span id="nickname">?</span></td>
    </tr>
    <tr>
      <td>내용</td>
      <td><span id="content">?</span></td>
    </tr>
    <tr>
      <td>작성 일시</td>
      <td><span id="modifyAt">?</span></td>
    </tr>
    <tr>
      <td>조회수</td>
      <td><span id="view">?</span></td>
    </tr>
  </tbody>
</table>
<a id="backToArticles" type="button">취소</a>
</body>
</html>