<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이벤트 리스트</title>
</head>
<body>
<p>
    <span id="articlesTitle">This is articles page.</span>
</p>
<table id="articlesTable">
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>시간</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="title">test</td>
        <td class="nickname">nickname</td>
        <td class="modifyAt">test</td>
        <td class="view">0</td>
        <td><a>상세</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
