<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    >
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    >
    <link rel="stylesheet" href="../../static/css/write.css">
    <script defer src="/script/jquery-3.6.0.min.js"></script>
    <script defer src="/script/modify.js"></script>
    <title>글 수정</title>
</head>
<body id="writeArticle">
<div class="container">
    <form method="post" th:action="@{/board/modify/{boardCode}/{articleId} (boardCode=${boardCode}, articleId=${article.id})}">
        <div>
            <label>
                <input class="docsType" type="radio" name="docsType" value="text" th:attr="checked=${article.docsType() == 'text' ? 'true' : 'false'}"> text
            </label>
            <label>
                <input class="docsType" type="radio" name="docsType" value="markdown" th:attr="checked=${article.docsType() == 'markdown' ? 'true' : 'false'}"> markdown
            </label>
        </div>
        <label for="title"></label>
        <input type="text" name="title" id="title" class="form-control mt-4 mb-2" th:value="${article.title()}">
        <label for="inputText"></label>
        <textarea id="inputText" class="form-control" rows="10" name="content"
                  th:text="${article.content()}" maxlength="1000"></textarea>
        <div class="tag">
            <label>
                <input type="text" class="form-control mt-4 mb-2" name="tag" id="tag" placeholder="태그" maxlength="100">
            </label>
        </div>
        <button class="btn btn-secondary mb-3 postArticle" type="button">작성</button>
    </form>
</div>
</body>
</html>
