<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    >
    <script defer src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
            rel="stylesheet"
            href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
            type="text/css"
    />
    <script defer src="/script/orcSignUp.js"></script>
    <script defer src="/script/jquery-3.6.0.min.js"></script>
    <title>학생증 인증</title>
</head>
<body>
<img id="student1" src="/image/student.jpg" alt="학생증 샘플 사진"
     style="display:block; margin: 0 auto; margin-top:100px; margin-bottom:-20px; width:400px; height:230px;"/><br>
<p style="text-align: center; font-weight:bold;">학생증 사진을 첨부 해주세요.</p>
<div class="wrap-loading display-none">
    <div><img src="/image/ezgif.com-gif-maker.gif" alt=""></div>
</div>
<div class="container"> 사진을 끌어 놓거나 파일찾기를 통해 학생증을 등록해주세요.
    <form method="post" enctype="multipart/form-data" rel="form-orc" th:action="@{#}">
        <label for="image-file"></label>
        <input id="image-file" type="file" name="upload" multiple
               accept="image/*" rel="upload" class="form-control form-control-lg">
        <input type="hidden" th:value="${param.code}" rel="hiddenCode">
        <div class="image-dropzone my-dropzone"><span>여기에 학생증을 끌어다 놓아주세요.</span></div>
    </form>
</div>
</body>
</html>