<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/script/orcSignUp.js"></script>
    <script defer src="/script/jquery-3.6.0.min.js"></script>
    <title>비밀번호 찾기</title>
</head>
<body>

<form method="post" th:action="@{/searchPassword}" rel="searchPassword">
    <p>회원가입시 이용했던 이메일을 입력해주세요.
        <label for="email" class="sr-only"></label>
        <input type="email" id="email" name="username" class="form-control center-block" placeholder="email" required autofocus>
        <input class="btn btn-primary" type="submit" value="이메일 전송">
    </p>
</form>
</body>
</html>