<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    >
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    >
    <script defer src="/script/signupError.js"></script>
    <script defer src="/script/jquery-3.6.0.min.js"></script>
    <script>
        /*<![CDATA[*/
        let exception = "[[${exception}]]";
        console.log(exception);
        /*]]>*/
        if (exception === null) {
            alert(exception);
            window.history.back();
        }
    </script>
    <title>회원가입</title>
</head>
<body>
<div class="form-signup">
    <form method="post" th:action="@{/signup}" rel="form-signup">
        <h2 class="form-signin-heading">회원가입</h2>
<!--        <div class="dropdown">-->
<!--            <button onclick="myFunction()" class="dropbtn">학교선택</button>-->
<!--            <div id="myDropdown" class="dropdown-content">-->
<!--                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">-->
<!--                <a href="#about">About</a>-->
<!--                <a href="#base">Base</a>-->
<!--                <a href="#blog">Blog</a>-->
<!--                <a href="#contact">Contact</a>-->
<!--                <a href="#custom">Custom</a>-->
<!--                <a href="#support">Support</a>-->
<!--                <a href="#tools">Tools</a>-->
<!--            </div>-->
<!--        </div>-->
        <p>
            <label for="username" class="sr-only"></label> 이메일 <br>
            8자 이상 50자 이하 이메일 사용 가능
            <input type="email" id="username" name="username" class="form-control w-100"
                   placeholder="Username" required autofocus>
            <span class="input-message" rel="email-message"></span>
        </p>
        <p>
            <label for="password" class="sr-only"></label> 비밀번호 <br>
            8자 이상 50자 이하 소문자, 대문자, 숫자, 특수문자 이용가능
            <input type="password" id="password" class="form-control password w-100" rel="password"
                   placeholder="Password" required>
            <span class="input-message" rel="password-message"></span>
        </p>
        <p>
            <label for="passwordCheck" class="sr-only"></label> 비밀번호 확인
            <input type="password" id="passwordCheck" name="password" class="form-control w-100" rel="password-check"
                   placeholder="Password" required>
            <span class="input-message" rel="password-check-message"></span>
        </p>
        <p>
            <label for="nickname" class="sr-only"></label> 닉네임 <br>
            1자 이상 10자 이하 소문자, 대문자, 숫자 이용가능
            <input type="text" id="nickname" name="nickname" class="form-control w-100"
                   placeholder="Nickname" required>
            <span class="input-message" rel="nickname-message"></span>
        </p>
        <input class="btn btn-lg btn-primary btn-block" id="onSubmit" type="submit" value="회원가입"/>
    </form>
</div>
<!--<script>-->
<!--    function myFunction() {-->
<!--        document.getElementById("myDropdown").classList.toggle("show");-->
<!--    }-->

<!--    function filterFunction() {-->
<!--        let input, filter, ul, li, a, i;-->
<!--        input = document.getElementById("myInput");-->
<!--        filter = input.value.toUpperCase();-->
<!--        div = document.getElementById("myDropdown");-->
<!--        a = div.getElementsByTagName("a");-->
<!--        for (i = 0; i < a.length; i++) {-->
<!--            txtValue = a[i].textContent || a[i].innerText;-->
<!--            if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                a[i].style.display = "";-->
<!--            } else {-->
<!--                a[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>