<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>언네임드</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/script/index.js"></script>
</head>
<body>
<header class="title">
    <div>
        <div><img alt="unnamed" src="/image/unnamed.png"/></div>
    </div>
    <div>
        <ul class="user">
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a
                        class="nav-link active"
                        th:href="@{/login}"
                >
                    로그인
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a
                        class="nav-link active"
                        th:href="@{/searchPassword}"
                >
                    비밀번호 찾기
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a
                        class="nav-link active"
                        th:href="@{/signup}"
                >
                    회원가입
                </a>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                <a
                        class="nav-link active"
                        th:href="@{/orcSignup}"
                >
                    학생증 인증
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a
                        sec:authorize="isAuthenticated()"
                        class="nav-link active"
                        th:href="@{/modifyPassword}"
                >
                    비밀번호 변경
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a
                        sec:authorize="isAuthenticated()"
                        class="nav-link active"
                        th:href="@{/logout}"
                >
                    로그아웃
                </a>
            </li>
        </ul>
    </div>
</header>
<div>
    <div class="menu">
        <div class="item college-list">단대목록</div>
        <div class="item"><a href="/board/free">자유게시판</a></div>
        <div class="item"><a href="/board/notice">공지사항</a></div>
    </div>
</div>
<main class="colleges college-none">
    <div class="item"><a href="/board/ai">AI학부</a></div>
    <div class="item"><a href="/board/art">조형예술대학</a></div>
    <div class="item"><a href="/board/culture">성산교육대학</a></div>
    <div class="item"><a href="/board/computer">정보통신대학</a></div>
    <div class="item"><a href="/board/engine">공과대학</a></div>
    <div class="item"><a href="/board/nurse">간호대학</a></div>
    <div class="item"><a href="/board/operation">경영대학</a></div>
    <div class="item"><a href="/board/human">인문대학</a></div>
    <div class="item"><a href="/board/master">사범대학</a></div>
    <div class="item"><a href="/board/fusion">미래융합학부</a></div>
    <div class="item"><a href="/board/society">사회과학대학</a></div>
    <div class="item"><a href="/board/science">과학생명융합대학</a></div>
    <div class="item"><a href="/board/rehab">재활과학대학</a></div>
    <div class="item"><a href="/board/law">법.행정대학</a></div>
</main>
</body>
</html>