<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>

    <div class="header-center">
        <div>전국단대익명커뮤니티</div>
    </div>
    <div class="header-right">
        <ul>
            <li class="nav-item">
                <a
                        class="nav-link active"
                        sec:authorize="!isAuthenticated()"
                        th:href="@{/login}"
                >
                    로그인
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active"
                        sec:authorize="!isAuthenticated()"
                        th:href="@{/signup}"
                >
                    회원가입
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active"
                        sec:authorize="hasRole('ROLE_USER')"
                        th:href="@{/orcSignup}"
                >
                    학생증 인증
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active"
                        sec:authorize="isAuthenticated()"
                        th:href="@{/logout}"
                >
                    로그아웃
                </a>
            </li>
        </ul>
    </div>

</header>
<main class="college">
    <div class="item item-etc">
        <div class="item"><a href="/board/free">자유게시판</a></div>
        <div class="item"><a href="/board/notice">공지사항</a></div>
    </div>
    <div class="item"><a href="/board/ai">AI학부</a></div>
    <div class="item"><a href="/board/art">조형예술대학</a></div>
    <div class="item"><a href="/board/culture">성산교육대학</a></div>
    <div class="item"><a href="/board/computer">정보통신대학</a></div>
    <div class="item"><a href="/board/engine">공과대학</a></div>
    <div class="item"><a href="/board/nurse">간호대학</a></div>
    <div class="item"><a href="/board/operation">경영대학</a></div>
    <div class="item"><a href="/board/human">인문대학</a></div>
    <div class="item"><a href="/board/master">사범대학</a></div>
    <div class="item"><a href="/board/fusion">미래융합학부</a></div>
    <div class="item"><a href="/board/society">사회과학대학</a></div>
    <div class="item"><a href="/board/science">과학생명융합대학</a></div>
    <div class="item"><a href="/board/rehab">재활과학대학</a></div>
    <div class="item"><a href="/board/law">법.행정대학</a></div>
</main>
</body>
</html>