<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/script/jquery-3.6.0.min.js"></script>
    <title>전국 단대 익명 커뮤니티</title>
</head>
<body>
<div class="main">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h1 class="logo">전국 단대 익명 커뮤니티</h1>
        <div class="container">
            <label>
                <input type="text" placeholder="ID" id="username" name="username" required autofocus class="account">
            </label>
            <label>
                <input type="password" placeholder="Password" id="password" class="account" name="password">
            </label>
            <p id="alert" class="account"></p>
            <button type="submit">로그인</button>
            <a th:href="@{/signup}">
                <button type="button">회원가입</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>