<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/icons.css">
    <script defer src="script/orcSignup.js"></script>
    <script defer src="script/jquery-3.6.0.min.js"></script>
<!--    <script defer src="script/loadingoverlay.min.js"></script>-->
    <title>Title</title>
</head>
<body>
<div class="wrap-loading display-none">
    <div><img src="image/load-icon.gif" alt=""> </div>
</div>
<form method="post" enctype="multipart/form-data" rel="form-orc" th:action="@{#}">
    <label for="image-file"></label>
    <input id="image-file" type="file" name="upload" multiple
           accept="image/*" rel="upload">
    <input type="hidden" th:value="${param.code}" rel="hiddenCode">
</form>
</body>
</html>