<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
    <link rel="stylesheet" type="text/css" href="css/signup.css">
    <script defer src="script/signupError.js"></script>
    <script defer src="script/jquery-3.6.0.min.js"></script>
    <head th:insert="fragments.html::header"></head>
</head>
<body>
<header th:insert="fragments.html::nav"></header>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/signup}" rel="form-signup">
        <h2 class="form-signin-heading">회원가입</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <span class="input-message " rel="email-message"></span>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label for="nickname" class="sr-only">Nickname</label>
            <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Nickname" required>
        </p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="회원가입"/>
    </form>
</div>
</body>
</html>